extends layout

block content
  h1= title
  p Welcome to #{title}
  ul.msg-list
    each msg in messages
       li.single-msg
          p.msg #{msg.text}
          p.usr #{msg.user}
          small.date created at #{msg.added}